<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container-agenda">
    <div class="row-agenda">
        <div class="row-2">
            <h1>ProjectAgenda+</h1>
            <p>Contatos serão exibidos logo abaixo</p>

        </div>
    </div>
    <%- include('includes/messages') %>

    <% if(contatos.length > 0) { %>
    <div class="table-contacts">
        <table>
            <thead>
                <tr>
                    <th>Nome</td>
                    <th>Sobrenome</td>
                    <th>Telefone</td>
                    <th>Email</td>
                    <th colspan="2">Configurações</td>    
                </tr>
            </thead>
            <tbody>
        <% contatos.forEach(contato => { %>
                <tr>
                    <td><%= contato.nome %></td>
                    <td><%= contato.sobrenome %></td>
                    <td><%= contato.telefone %></td>
                    <td><%= contato.email %></td>
                    <td class="editar"><a href="/contato/index/<%= contato._id %>">Editar</a></td>
                    <td class="deletar"><a href="/contato/delete/<%= contato._id %>">Deletar</a></td>
                </tr>
        <% }); %>
            </tbody>
        </table>
    </div>
    <% } else { %>
        <p>Não exsitem contatos na sua lista ainda</p>
    <% } %>

</div>

<script src="/assets/js/bundle.js"></script>
  
<%- include('includes/footer.ejs') %>
