<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<div class="container-agenda">
    <div class="row-agenda">
        <div class="row-2">
            <h1>Olá <%= user.email %></h1>
            <p>Seja bem vindo ao site</p>
        </div>
        <%- include('includes/messages'); %>

    </div>

</div>
<%- include('includes/footer.ejs') %>
